* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
}

h1 {
    align-self: center ;
    display: flex ;
    justify-content: center ;
    font-family: serif ;
    color: rgb(255, 117, 24) ;
}

nav {
    align-self: center ;
    display: flex ;
    justify-content: space-around ;
}

button {
    padding: 5px ;
    background-color: rgb(50, 200, 50) ;
    cursor: pointer ;
}